<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body class="body" >
    <h1 class="mt-5 ml-5 title" > My ToDo List </h1>

    <div class="d-flex justify-content-end m-5" >
      <button type="button" class="btn btn-primary-link btn-lg">
        <%= link_to "New Item", new_todo_path, class: 'list' %>
      </button>
    </div>

    <div class="content">
      <div class="row d-flex justify-content-center mb-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title list">Tasks to complete</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    <p class="list">Done</p>
                  </th>
                  <th>
                  <p class="list">Todo</p>
                  </th>
                  <th class="text-right">
                  <p class="list">Options</p>
                  </th>
                </thead>
                  <% @todos.each do |todo| %>
                    <tbody>
                      <tr>
                        <td>
                          <button type="button" class="btn btn-light">&#9744;</button>
                          <button type="button" class="btn btn-light">&check;</button>
                        </td>
                        <td>
                          <%= link_to todo.title, todo_path(todo.id), class: 'words' %>
                        </td>
                        <td class="text-right">
                          <%= link_to "edit", edit_todo_path(todo[:id]), class: 'words' %>
                          <%= link_to "delete", todo, class: 'words', method: :delete, data: { confirm: "Are You sure?" }%>
                        </td>
                      </tr>
                    </tbody>
                  <% end %>
              </table>
            </div>
          </div>
        </div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>