<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body class="body" >

    <div class="content">
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-6">
          <h1 class="mt-5 ml-5 title" >Show Your Todo</h1>
            <p class="title" >Title:</br> 
              <div class="card">
                <%= @todo['title']%>
              </div>
            </p>
            <p class="title" >Description:</br> 
              <div class="card">
                <%= @todo['description']%>
              </div>
            </p>

            <div class="actions text-right btn-lg me-3">
              <%= link_to "Back To Todo List",todos_path, class: 'btn btn-primary'%>
            </div>

        </div>
      </div>
    </div>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>