// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.words {
    color: #706D3D;
}

.list {
    color: #746F2E;
}

.subtitle {
    color: #746F2E;
    background-color: #F2F0CB;
}

.body {
    background-color: #F0E881;
}

.title {
    color: white
}

.header {
    background-color: blue;
}

.edit {
    content: "\270F";
}